<%@posts.each do |post|%>
<h4><span id="vote<%=post.id%>"><a href="/votes">▲</a></span><%=post.id%>. <%=post.title%></h4>
<a href="<%=post.link%>"><%=post.link%></a>
<a href="/posts/<%=post.id%>">comments</a>

<%end%>
